<a href="https://colab.research.google.com/github/bh4vyaaaa/Experiment-9-EDPL/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment 9
## Introduction to Pandas
### Bhavya Pandya
### E&TC A1
### 25070123139

### Panda :- Panel Data
### Used for structured data manipulation and analysis
### Exploratory Data Analysis
### and Data Cleaning

In [ ]:
import pandas as pd
s = pd.Series([100,200,300,400,500])
s

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [ ]:
# Creating Dataframe
data = {
    "Name" : ["Bhavya","Ansh", "Shreyanshu"],
    "Age" : [18,18,18]
}
df = pd.DataFrame(data)
df

         Name  Age
0      Bhavya   18
1        Ansh   18
2  Shreyanshu   18

In [ ]:
df.head()
df.tail()

         Name  Age
0      Bhavya   18
1        Ansh   18
2  Shreyanshu   18

In [12]:
# Find the structure of the dataframe
df.shape

(3, 2)

In [13]:
df.size

6

In [14]:
df.ndim

2

In [17]:
# display coloumn names
df.columns

Index(['Name', 'Age'], dtype='object')

In [18]:
df.dtypes

Name    object
Age      int64
dtype: object

In [19]:
# Access Indivisual Coloumn
df["Name"]

0        Bhavya
1          Ansh
2    Shreyanshu
Name: Name, dtype: object

In [21]:
df.loc[1]

Name    Ansh
Age       18
Name: 1, dtype: object

In [45]:
# Add a new Coloumn
df["Gender"] = ["Man","Man","Man"]

In [25]:
df

         Name  Age Gender
0      Bhavya   18    Man
1        Ansh   18    Man
2  Shreyanshu   18    Man

In [28]:
# Update Data In the Dataframe
# change age of shreyanshu to 19
df.loc[2,"Age"] = 19

In [29]:
df

         Name  Age Gender
0      Bhavya   18    Man
1        Ansh   18    Man
2  Shreyanshu   19    Man

In [46]:
# Delete a Coloumn
df.drop("Gender",axis=1,inplace=True)
df

         Name  Age
0      Bhavya   18
1        Ansh   18
2  Shreyanshu   19

In [56]:
# Perform Basic Statistical Analysis
mean1=df["Age"].mean()
mean1

np.float64(18.333333333333332)

In [52]:
df["Age"].median()
df

         Name  Age
0      Bhavya   18
1        Ansh   18
2  Shreyanshu   19

In [53]:
df["Age"].min()
df

         Name  Age
0      Bhavya   18
1        Ansh   18
2  Shreyanshu   19

In [57]:
# Apply Conditon (Filtering)
# Display Name with age more than 18
df[df["Age"]>18]

         Name  Age
2  Shreyanshu   19